@model PracticaSemanal01.Models.Event

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<div class="jumbotron">

    <h3>¿Seguro de que quieres eliminar este evento?</h3>
    <div>
        <h4>Evento</h4>
        <hr />
        <dl class="dl-horizontal">


            <dt>
                @*@Html.DisplayNameFor(model => model.Title)*@
                <label class="control-label font-weight-bolder">Título</label>

            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.Date)*@
                <label class="control-label font-weight-bolder">Fecha</label>

            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.Location)*@
                <label class="control-label font-weight-bolder">Lugar de presentación</label>

            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @*<div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Eliminar" class="btn btn-primary" />

                    <a href="@Url.Action("Index","Events")" class="btn btn-outline-primary">Cancelar</a>

                </div>
            </div>

        }
    </div>


</div>

