
@using PS2Cafeteria.Models
@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Iniciar Sesión - Cafetería Tec</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/business-casual.min.css" rel="stylesheet">

</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">

        <span class="site-heading-lower">Cafetería Tec</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="@Url.Action("Index","Home")">Cafetería Tec</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index","Home")">
                            Inicio
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index","Menu")">Menú</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("About","Home")">Acerca de</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Contact","Home")">Contacto</a>
                    </li>

                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index","Coffees")">Cafés</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index","Orders")">Pedidos</a>
                    </li>

                    @*<li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Register","Account")">Registrarse</a>
                    </li>*@
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Login","Account")">Iniciar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper"></span>
                            <span class="section-heading-lower">Iniciar Sesión</span>
                        </h2>
                        <p class="mb-0">

                            <div class="row">
                                <div class="col-md-12">
                                    <section id="loginForm">
                                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <h4>Usar una cuenta local para iniciar sesión.</h4>
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group text-left">
                                                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                                                <label class="col-md-4"><b>Correo Electrónico</b></label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group text-left">
                                                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                                                <label class="col-md-4"><b>Contraseña</b></label>
                                                <div class="col-md-12">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group text-left">
                                                <div class="col-md-offset-2 col-md-12">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.RememberMe)
                                                        @*@Html.LabelFor(m => m.RememberMe)*@
                                                        <label class="col-md-4">¿Recordarme?</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group text-left">
                                                <div class="col-md-offset-2 col-md-12">
                                                    <input type="submit" value="Iniciar Sesión" class="btn btn-primary" />
                                                </div>
                                            </div>
                            <p class="form-group text-left">
                                @*@Html.ActionLink("Registrarse como nuevo usuario", "Register")*@
                            </p>

                        }
                    </section>
                    </div>

                    </div>

                    </p>
                    </div>
                    </div>
                    </div>
                    </div>
                    </section>



                    <footer class="footer text-faded text-center py-5">
                        <div class="container">
                            <p class="m-0 small">Copyright &copy; Cafetería Tec 2020 : por Valadez Camacho Gustavo.</p>
                        </div>
                    </footer>

                    <!-- Bootstrap core JavaScript -->
                    <script src="vendor/jquery/jquery.min.js"></script>
                    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

                </body>
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </html>



            @*------------------------------------------------------------------------------------------------------------------------------*@
            @*------------------------------------------------------------------------------------------------------------------------------*@
            @*Vista de Iniciar Sesión, antes de poner Layout Null*@


            @*@using PS2Cafeteria.Models
                @model LoginViewModel
                @{
                    ViewBag.Title = "Iniciar Sesión";
                }

                <h2>@ViewBag.Title.</h2>

                <section class="page-section cta">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 mx-auto">
                                <div class="cta-inner text-center rounded">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-upper"></span>
                                        <span class="section-heading-lower">Iniciar Sesión</span>
                                    </h2>
                                    <p class="mb-0">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <section id="loginForm">
                                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <h4>Usar una cuenta local para iniciar sesión.</h4>
                                                        <hr />
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                        <div class="form-group text-left">
                                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                                            <label class="col-md-4"><b>Correo Electrónico</b></label>
                                                            <div class="col-md-12">
                                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group text-left">
                                                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                                            <label class="col-md-4"><b>Contraseña</b></label>
                                                            <div class="col-md-12">
                                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group text-left">
                                                            <div class="col-md-offset-2 col-md-12">
                                                                <div class="checkbox">
                                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                                    @Html.LabelFor(m => m.RememberMe)
                                                                    <label class="col-md-4">¿Recordarme?</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group text-left">
                                                            <div class="col-md-offset-2 col-md-12">
                                                                <input type="submit" value="Iniciar Sesión" class="btn btn-primary" />
                                                            </div>
                                                        </div>
                                                        <p class="form-group text-left">
                                                            @Html.ActionLink("Registrarse como nuevo usuario", "Register")
                                                        </p>

                                                    }
                                                </section>
                                            </div>

                                        </div>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }*@

            @*------------------------------------------------------------------------------------------------------------------------------*@
            @*------------------------------------------------------------------------------------------------------------------------------*@


