@model IEnumerable<ControlInventario.Models.Supplier>

@{
    ViewBag.Title = "Index";
}

<div class="masthead">
    <div class="masthead-content space">
        <div class="container">

            <h2>Proveedores</h2>

            <p>
                @*@Html.ActionLink("Crear Nuevo", "Create")*@
                <a href="@Url.Action("Create","Suppliers")" class="btn btn-sm btn-primary m-2">Nuevo Proveedor</a>

            </p>

            <table class="table">
                <tr>
                    <th>
                        @*@Html.DisplayNameFor(model => model.SupplierCode)*@
                        Código del Proveedor
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.SupplierName)*@
                        Nombre del Proveedor
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Email)*@
                        Correo Electrónico
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Phone)*@
                        Teléfono
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Address)*@
                        Dirección
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SupplierCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SupplierName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-outline-dark" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-outline-dark" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-outline-dark" })*@

                            <a href="@Url.Action("Edit","Suppliers",new { id=item.Id })">Editar</a> |
                            <a href="@Url.Action("Details","Suppliers",new { id=item.Id })">Detalles</a> |
                            <a href="@Url.Action("Delete","Suppliers",new { id=item.Id })">Eliminar</a>
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>

