@model IEnumerable<ControlInventario.Models.Product>

@{
    ViewBag.Title = "Index";
}

<div class="masthead">
    <div class="masthead-content space">
        <div class="container">

            <h2>Productos</h2>

            <p>
                @*@Html.ActionLink("Crear Nuevo", "Create")*@
                <a href="@Url.Action("Create","Products")" class="btn btn-sm btn-primary m-2">Nuevo Producto</a>

            </p>

            <table class="table table-sm" id="myProducts">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Supplier.SupplierName)
                            @*Nombre del Proveedor*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductCode)
                            @*Código de Producto*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                            @*Nombre del Producto*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                            @*Descripción*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                            @*Cantidad*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                            @*Precio*@
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.Supplier.SupplierName)*@
                                <a href="@Url.Action("ProductBySupplier","Products", new { supplierId=item.SupplierId})">@item.Supplier.SupplierName</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @*@Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class="btn btn-sm btn-outline-dark"}) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-outline-dark" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-outline-dark" })*@

                                <a href="@Url.Action("Edit","Products", new { id=item.Id })">Editar</a> |
                                <a href="@Url.Action("Details","Products",new { id=item.Id })">Detalles</a> |
                                <a href="@Url.Action("Delete","Products",new { id=item.Id })">Eliminar</a>

                            </td>
                        </tr>
                    }
                </tbody>


            </table>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
                
                <script>
                    $(document).ready(function () {
                        $('#myProducts').DataTable();
                    });
                </script>
                

            }







        </div>
    </div>
</div>


